doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description' content='Empresa de construcción')
        meta(name='author' content='Nicolas Olexyn')

        title OLEXYNCM - Empresa de construccion

        link(rel='icon' type='image/x-icon' href='assets/img/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v5.13.0/js/all.js' crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css' rel='stylesheet')

    body#page-top

        a.float(href='https://wa.me/5491160927496' target='_blank')
            i.fab.fa-whatsapp.my-float

        // Navigation
        nav#mainNav.navbar.navbar-expand-lg.navbar-dark.fixed-top
            .container
                a.navbar-brand.js-scroll-trigger(href='#page-top')
                    img(src='assets/img/navbar-logo.png' alt='')
                button.navbar-toggler.navbar-toggler-right(type='button' data-toggle='collapse' data-target='#navbarResponsive' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation')
                    | Menu
                    i.fas.fa-bars.ml-1
                #navbarResponsive.collapse.navbar-collapse
                    ul.navbar-nav.text-uppercase.ml-auto
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='#services') Servicios
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='#portfolio') Obras realizadas
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='#about') ¿Quienes somos?
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='#contact') Contacto
        // Masthead
        header.masthead
            .container
                .text-center
                    img(src='assets/img/LOGO.png' alt='')
                a.btn.btn-primary.btn-xl.text-uppercase.js-scroll-trigger(href='#services') Ver mas

        // Services
        section#services.page-section
            .container
                .text-center
                    h2.section-heading.text-uppercase Servicios
                    h3.section-subheading.text-muted Por favor deje su consulta en base a lo que necesite y nosotros lo deribaremos al area correspondiente.
                .row.text-center
                    .col-md-3
                        img.rounded-circle.img-fluid(src='assets/img/services/estructuras.jpg' alt='')
                        h4.my-3 Estructuras
                    .col-md-3
                        img.rounded-circle.img-fluid(src='assets/img/services/montajes.jpg' alt='')
                        h4.my-3 Montajes
                    .col-md-3
                        img.rounded-circle.img-fluid(src='assets/img/services/zingueria.jpg' alt='')
                        h4.my-3 Zinguerias
                    .col-md-3
                        img.rounded-circle.img-fluid(src='assets/img/services/techos.jpg' alt='')
                        h4.my-3 Techos y mas...


        // Portfolio Grid
        section#portfolio.page-section.bg-light
            .container
                .text-center
                    h2.section-heading.text-uppercase Obras Realizadas
                    h3.section-subheading.text-muted Para ver mas contenido seguinos en redes sociales.
                .row
                    .col-lg-4.col-sm-6.mb-4
                        .portfolio-item
                            a.portfolio-link(data-toggle='modal' href='#portfolioModal1')
                                .portfolio-hover
                                    .portfolio-hover-content
                                        i.fas.fa-plus.fa-3x
                                img.img-fluid(src='assets/img/portfolio/01-mercedes.jpg' alt='')
                            .portfolio-caption
                                .portfolio-caption-heading Mercedes Benz
                    .col-lg-4.col-sm-6.mb-4
                        .portfolio-item
                            a.portfolio-link(data-toggle='modal' href='#portfolioModal2')
                                .portfolio-hover
                                    .portfolio-hover-content
                                        i.fas.fa-plus.fa-3x
                                img.img-fluid(src='assets/img/portfolio/02-megafutbol.jpg' alt='')
                            .portfolio-caption
                                .portfolio-caption-heading Megafutbol
                    .col-lg-4.col-sm-6.mb-4
                        .portfolio-item
                            a.portfolio-link(data-toggle='modal' href='#portfolioModal3')
                                .portfolio-hover
                                    .portfolio-hover-content
                                        i.fas.fa-plus.fa-3x
                                img.img-fluid(src='assets/img/portfolio/03-tinglado.jpg' alt='')
                            .portfolio-caption
                                .portfolio-caption-heading Tinglado
                    .col-lg-4.col-sm-6.mb-4.mb-lg-0
                        .portfolio-item
                            a.portfolio-link(data-toggle='modal' href='#portfolioModal4')
                                .portfolio-hover
                                    .portfolio-hover-content
                                        i.fas.fa-plus.fa-3x
                                img.img-fluid(src='assets/img/portfolio/04-facultad-san-andres.jpg' alt='')
                            .portfolio-caption
                                .portfolio-caption-heading Facultad de San Andres
                    .col-lg-4.col-sm-6.mb-4.mb-sm-0
                        .portfolio-item
                            a.portfolio-link(data-toggle='modal' href='#portfolioModal5')
                                .portfolio-hover
                                    .portfolio-hover-content
                                        i.fas.fa-plus.fa-3x
                                img.img-fluid(src='assets/img/portfolio/05-cochera.jpg' alt='')
                            .portfolio-caption
                                .portfolio-caption-heading Cochera
                    .col-lg-4.col-sm-6
                        .portfolio-item
                            a.portfolio-link(data-toggle='modal' href='#portfolioModal6')
                                .portfolio-hover
                                    .portfolio-hover-content
                                        i.fas.fa-plus.fa-3x
                                img.img-fluid(src='assets/img/portfolio/06-ventana-techo.jpg' alt='')
                            .portfolio-caption
                                .portfolio-caption-heading Ventana Techo
                    .col-lg-4.col-sm-6
                        .portfolio-item
                            a.portfolio-link(data-toggle='modal' href='#portfolioModal7')
                                .portfolio-hover
                                    .portfolio-hover-content
                                        i.fas.fa-plus.fa-3x
                                img.img-fluid(src='assets/img/portfolio/07-garage.jpg' alt='')
                            .portfolio-caption
                                .portfolio-caption-heading Garage
                    .col-lg-4.col-sm-6
                        .portfolio-item
                            a.portfolio-link(data-toggle='modal' href='#portfolioModal8')
                                .portfolio-hover
                                    .portfolio-hover-content
                                        i.fas.fa-plus.fa-3x
                                img.img-fluid(src='assets/img/portfolio/08-montaje.jpg' alt='')
                            .portfolio-caption
                                .portfolio-caption-heading Montaje
                    .col-lg-4.col-sm-6
                        .portfolio-item
                            a.portfolio-link(data-toggle='modal' href='#portfolioModal9')
                                .portfolio-hover
                                    .portfolio-hover-content
                                        i.fas.fa-plus.fa-3x
                                img.img-fluid(src='assets/img/portfolio/09-ventilacion-tinglado.jpg' alt='')
                            .portfolio-caption
                                .portfolio-caption-heading Ventilacion Tinglado

        // About
        section#about.page-section
            .container
                .text-center
                    h2.section-heading.text-uppercase ¿Quienes somos?
                    h3.section-subheading.text-muted
                .row.mt-3
                    .col-md-6
                        .team-member
                            img.mx-auto.rounded-circle(alt='Demetrio Olexyn' src='assets/img/team/demetrio.jpg')
                            h4 Demetrio Olexyn
                            p.text-muted 1944 - 2017
                    .col-md-6
                        div.text-center
                            h2 Demetrio Olexyn e Hijos.
                            p.large.text-muted
                                | Somos una empresa familiar con más de 45 años de trayectoria.
                            p.large.text-muted
                                | Gracias al conocimiento heredado por nuestro padre durante la trayectoria de tantos años de trabajo, podemos decir con mucha humildad que somos la empresa número uno en cuanto a calidad, honestidad y precio de toda la Argentina.
                            p.large.text-muted
                                | La empresa fue creciendo año tras año en conocimiento y tecnología y así nos dio la posibilidad de sumergirnos en nuevas ramas de la construcción.
                .row
                    .col-lg-4
                        .team-member
                            img.mx-auto.rounded-circle(src='assets/img/team/marcelo.jpg' alt='')
                            h4 Marcelo Olexyn
                            p.text-muted
                            a.btn.btn-dark.btn-social.mx-2(href='https://wa.me/5491160927496' target='_blank')
                                i.fab.fa-whatsapp
                            a.btn.btn-dark.btn-social.mx-2(href='https://www.facebook.com/marceloc.olexyn')
                                i.fab.fa-facebook-f
                            a.btn.btn-dark.btn-social.mx-2(href='https://www.instagram.com/marcelolexyn/')
                                i.fab.fa-instagram
                    .col-lg-4
                        .team-member
                            img.mx-auto.rounded-circle(src='assets/img/team/adrian.jpg' alt='')
                            h4 Adrian Olexyn
                            p.text-muted
                            a.btn.btn-dark.btn-social.mx-2(href='https://wa.me/5491136069142' target='_blank')
                                i.fab.fa-whatsapp
                            a.btn.btn-dark.btn-social.mx-2(href='https://www.facebook.com/adrian.olexyn')
                                i.fab.fa-facebook-f
                            a.btn.btn-dark.btn-social.mx-2(href='https://www.instagram.com/adrianolexyntechos/')
                                i.fab.fa-instagram
                    .col-lg-4
                        .team-member
                            img.mx-auto.rounded-circle(src='assets/img/team/pablo.jpg' alt='')
                            h4 Pablo Olexyn
                            p.text-muted
                            a.btn.btn-dark.btn-social.mx-2(href='https://wa.me/5491162569000' target='_blank')
                                i.fab.fa-whatsapp
                            a.btn.btn-dark.btn-social.mx-2(href='https://www.facebook.com/techistapablomarcos.olexyn')
                                i.fab.fa-facebook-f
                            a.btn.btn-dark.btn-social.mx-2(href='https://www.instagram.com/olexyn_e_hijos/')
                                i.fab.fa-instagram

        // Contact
        section#contact.page-section
            .container
                .text-center
                    h2.section-heading.text-uppercase Contacto
                    h3.section-subheading.text-muted(style='color: white!important;') Por favor dejanos tu consulta y te responderemos a la brevedad.
                .text-center
                    a.btn.btn-primary.btn-xl.text-uppercase(href='https://wa.me/5491160927496' target='_blank') 
                        i.fab.fa-whatsapp.my-float 
                        | Envíanos tu consulta!

        // Footer
        footer.footer.py-4
            .container
                .row.align-items-center
                    .col-lg-6.text-lg-left
                        | Copyright © OLEXYNCM 2020
                    .col-lg-6.my-3.my-lg-0
                        a.btn.btn-dark.btn-social.mx-2(href='https://wa.me/5491160927496' target='_blank')
                            i.fab.fa-whatsapp
                        a.btn.btn-dark.btn-social.mx-2(href='https://www.facebook.com/olexyncm')
                            i.fab.fa-facebook-f
                        a.btn.btn-dark.btn-social.mx-2(href='https://www.instagram.com/marcelolexyn/')
                            i.fab.fa-instagram

        // Portfolio Modals
        // Modal 1
        #portfolioModal1.portfolio-modal.modal.fade(tabindex='-1' role='dialog' aria-hidden='true')
            .modal-dialog
                .modal-content
                    .close-modal(data-dismiss='modal')
                        img(src="assets/img/close-icon.svg" alt='Close modal')
                    .container
                        .row.justify-content-center
                            .col-lg-8
                                .modal-body
                                    // Project Details Go Here
                                    h3.text-uppercase Mercedes Benz
                                    #carouselExampleControls1.carousel.slide(data-ride='carousel')
                                        .carousel-inner
                                            .carousel-item.active
                                                img.d-block.w-100(src='assets/img/portfolio/01-mercedes/1.jpg' alt='First slide')
                                            .carousel-item
                                                img.d-block.w-100(src='assets/img/portfolio/01-mercedes/2.jpg' alt='Second slide')
                                            .carousel-item
                                                img.d-block.w-100(src='assets/img/portfolio/01-mercedes/3.jpg' alt='Third slide')
                                            .carousel-item
                                                img.d-block.w-100(src='assets/img/portfolio/01-mercedes/4.jpg' alt='Third slide')
                                            .carousel-item
                                                img.d-block.w-100(src='assets/img/portfolio/01-mercedes/5.jpg' alt='Third slide')
                                            .carousel-item
                                                img.d-block.w-100(src='assets/img/portfolio/01-mercedes/6.jpg' alt='Third slide')
                                            .carousel-item
                                                img.d-block.w-100(src='assets/img/portfolio/01-mercedes/7.jpg' alt='Third slide')
                                            .carousel-item
                                                img.d-block.w-100(src='assets/img/portfolio/01-mercedes/8.jpg' alt='Third slide')
                                            .carousel-item
                                                img.d-block.w-100(src='assets/img/portfolio/01-mercedes/9.jpg' alt='Third slide')
                                            .carousel-item
                                                img.d-block.w-100(src='assets/img/portfolio/01-mercedes/10.jpg' alt='Third slide')
                                            .carousel-item
                                                img.d-block.w-100(src='assets/img/portfolio/01-mercedes/11.jpg' alt='Third slide')
                                            .carousel-item
                                                img.d-block.w-100(src='assets/img/portfolio/01-mercedes/12.jpg' alt='Third slide')
                                            .carousel-item
                                                img.d-block.w-100(src='assets/img/portfolio/01-mercedes/13.jpg' alt='Third slide')
                                            .carousel-item
                                                img.d-block.w-100(src='assets/img/portfolio/01-mercedes/14.jpg' alt='Third slide')
                                            .carousel-item
                                                img.d-block.w-100(src='assets/img/portfolio/01-mercedes/15.jpg' alt='Third slide')
                                            .carousel-item
                                                img.d-block.w-100(src='assets/img/portfolio/01-mercedes/16.jpg' alt='Third slide')
                                            .carousel-item
                                                img.d-block.w-100(src='assets/img/portfolio/01-mercedes/17.jpg' alt='Third slide')
                                            .carousel-item
                                                img.d-block.w-100(src='assets/img/portfolio/01-mercedes/18.jpg' alt='Third slide')
                                            .carousel-item
                                                img.d-block.w-100(src='assets/img/portfolio/01-mercedes/19.jpg' alt='Third slide')
                                            .carousel-item
                                                img.d-block.w-100(src='assets/img/portfolio/01-mercedes/20.jpg' alt='Third slide')
                                            .carousel-item
                                                img.d-block.w-100(src='assets/img/portfolio/01-mercedes/21.jpg' alt='Third slide')
                                            .carousel-item
                                                img.d-block.w-100(src='assets/img/portfolio/01-mercedes/22.jpg' alt='Third slide')
                                            .carousel-item
                                                img.d-block.w-100(src='assets/img/portfolio/01-mercedes/23.jpg' alt='Third slide')
                                            .carousel-item
                                                img.d-block.w-100(src='assets/img/portfolio/01-mercedes/24.jpg' alt='Third slide')
                                            .carousel-item
                                                img.d-block.w-100(src='assets/img/portfolio/01-mercedes/25.jpg' alt='Third slide')
                                        a.carousel-control-prev(href='#carouselExampleControls1' role='button' data-slide='prev')
                                            span.carousel-control-prev-icon(aria-hidden='true')
                                            span.sr-only Anterior
                                        a.carousel-control-next(href='#carouselExampleControls1' role='button' data-slide='next')
                                            span.carousel-control-next-icon(aria-hidden='true')
                                            span.sr-only Siguiente

                                    button.btn.btn-primary(data-dismiss='modal' type='button')
                                        i.fas.fa-times.mr-1
                                        | Cerrar
        // Portfolio Modals
        // Modal 2
        #portfolioModal2.portfolio-modal.modal.fade(tabindex='-1' role='dialog' aria-hidden='true')
            .modal-dialog
                .modal-content
                    .close-modal(data-dismiss='modal')
                        img(src="assets/img/close-icon.svg" alt='Close modal')
                    .container
                        .row.justify-content-center
                            .col-lg-8
                                .modal-body
                                    // Project Details Go Here
                                    h3.text-uppercase Megafutbol
                                    #carouselExampleControls2.carousel.slide(data-ride='carousel')
                                        .carousel-inner
                                            .carousel-item.active
                                                img.d-block.w-100(src='assets/img/portfolio/02-megafutbol/1.jpg' alt='First slide')
                                            .carousel-item
                                                img.d-block.w-100(src='assets/img/portfolio/02-megafutbol/2.jpg' alt='Second slide')
                                            .carousel-item
                                                img.d-block.w-100(src='assets/img/portfolio/02-megafutbol/3.jpg' alt='Third slide')
                                            .carousel-item
                                                img.d-block.w-100(src='assets/img/portfolio/02-megafutbol/4.jpg' alt='Third slide')
                                            .carousel-item
                                                img.d-block.w-100(src='assets/img/portfolio/02-megafutbol/5.jpg' alt='Third slide')
                                            .carousel-item
                                                img.d-block.w-100(src='assets/img/portfolio/02-megafutbol/6.jpg' alt='Third slide')
                                            .carousel-item
                                                img.d-block.w-100(src='assets/img/portfolio/02-megafutbol/7.jpg' alt='Third slide')
                                            .carousel-item
                                                img.d-block.w-100(src='assets/img/portfolio/02-megafutbol/8.jpg' alt='Third slide')
                                            .carousel-item
                                                img.d-block.w-100(src='assets/img/portfolio/02-megafutbol/9.jpg' alt='Third slide')
                                            .carousel-item
                                                img.d-block.w-100(src='assets/img/portfolio/02-megafutbol/10.jpg' alt='Third slide')
                                            .carousel-item
                                                img.d-block.w-100(src='assets/img/portfolio/02-megafutbol/11.jpg' alt='Third slide')
                                            .carousel-item
                                                img.d-block.w-100(src='assets/img/portfolio/02-megafutbol/12.jpg' alt='Third slide')
                                            .carousel-item
                                                img.d-block.w-100(src='assets/img/portfolio/02-megafutbol/13.jpg' alt='Third slide')
                                            .carousel-item
                                                img.d-block.w-100(src='assets/img/portfolio/02-megafutbol/14.jpg' alt='Third slide')
                                            .carousel-item
                                                img.d-block.w-100(src='assets/img/portfolio/02-megafutbol/15.jpg' alt='Third slide')
                                            .carousel-item
                                                img.d-block.w-100(src='assets/img/portfolio/02-megafutbol/16.jpg' alt='Third slide')
                                            .carousel-item
                                                img.d-block.w-100(src='assets/img/portfolio/02-megafutbol/17.jpg' alt='Third slide')
                                            .carousel-item
                                                img.d-block.w-100(src='assets/img/portfolio/02-megafutbol/18.jpg' alt='Third slide')
                                            .carousel-item
                                                img.d-block.w-100(src='assets/img/portfolio/02-megafutbol/19.jpg' alt='Third slide')
                                            .carousel-item
                                                img.d-block.w-100(src='assets/img/portfolio/02-megafutbol/20.jpg' alt='Third slide')
                                        a.carousel-control-prev(href='#carouselExampleControls2' role='button' data-slide='prev')
                                            span.carousel-control-prev-icon(aria-hidden='true')
                                            span.sr-only Anterior
                                        a.carousel-control-next(href='#carouselExampleControls2' role='button' data-slide='next')
                                            span.carousel-control-next-icon(aria-hidden='true')
                                            span.sr-only Siguiente

                                    button.btn.btn-primary(data-dismiss='modal' type='button')
                                        i.fas.fa-times.mr-1
                                        | Cerrar
        // Portfolio Modals
        // Modal 3
        #portfolioModal3.portfolio-modal.modal.fade(tabindex='-1' role='dialog' aria-hidden='true')
            .modal-dialog
                .modal-content
                    .close-modal(data-dismiss='modal')
                        img(src="assets/img/close-icon.svg" alt='Close modal')
                    .container
                        .row.justify-content-center
                            .col-lg-8
                                .modal-body
                                    // Project Details Go Here
                                    h3.text-uppercase Tinglado
                                    #carouselExampleControls3.carousel.slide(data-ride='carousel')
                                        .carousel-inner
                                            .carousel-item.active
                                                img.d-block.w-100(src='assets/img/portfolio/03-tinglado/1.jpg' alt='First slide')
                                            .carousel-item
                                                img.d-block.w-100(src='assets/img/portfolio/03-tinglado/2.jpg' alt='Second slide')
                                            .carousel-item
                                                img.d-block.w-100(src='assets/img/portfolio/03-tinglado/3.jpg' alt='Third slide')
                                            .carousel-item
                                                img.d-block.w-100(src='assets/img/portfolio/03-tinglado/4.jpg' alt='Third slide')
                                            .carousel-item
                                                img.d-block.w-100(src='assets/img/portfolio/03-tinglado/5.jpg' alt='Third slide')
                                            .carousel-item
                                                img.d-block.w-100(src='assets/img/portfolio/03-tinglado/6.jpg' alt='Third slide')
                                            .carousel-item
                                                img.d-block.w-100(src='assets/img/portfolio/03-tinglado/7.jpg' alt='Third slide')
                                            .carousel-item
                                                img.d-block.w-100(src='assets/img/portfolio/03-tinglado/8.jpg' alt='Third slide')
                                            .carousel-item
                                                img.d-block.w-100(src='assets/img/portfolio/03-tinglado/9.jpg' alt='Third slide')
                                            .carousel-item
                                                img.d-block.w-100(src='assets/img/portfolio/03-tinglado/10.jpg' alt='Third slide')
                                            .carousel-item
                                                img.d-block.w-100(src='assets/img/portfolio/03-tinglado/11.jpg' alt='Third slide')
                                        a.carousel-control-prev(href='#carouselExampleControls3' role='button' data-slide='prev')
                                            span.carousel-control-prev-icon(aria-hidden='true')
                                            span.sr-only Anterior
                                        a.carousel-control-next(href='#carouselExampleControls3' role='button' data-slide='next')
                                            span.carousel-control-next-icon(aria-hidden='true')
                                            span.sr-only Siguiente

                                    button.btn.btn-primary(data-dismiss='modal' type='button')
                                        i.fas.fa-times.mr-1
                                        | Cerrar
        // Portfolio Modals
        // Modal 4
        #portfolioModal4.portfolio-modal.modal.fade(tabindex='-1' role='dialog' aria-hidden='true')
            .modal-dialog
                .modal-content
                    .close-modal(data-dismiss='modal')
                        img(src="assets/img/close-icon.svg" alt='Close modal')
                    .container
                        .row.justify-content-center
                            .col-lg-8
                                .modal-body
                                    // Project Details Go Here
                                    h3.text-uppercase Facultad San Andres
                                    #carouselExampleControls4.carousel.slide(data-ride='carousel')
                                        .carousel-inner
                                            .carousel-item.active
                                                img.d-block.w-100(src='assets/img/portfolio/04-facultad-san-andres/1.jpg' alt='First slide')
                                            .carousel-item
                                                img.d-block.w-100(src='assets/img/portfolio/04-facultad-san-andres/2.jpg' alt='Second slide')
                                            .carousel-item
                                                img.d-block.w-100(src='assets/img/portfolio/04-facultad-san-andres/3.jpg' alt='Third slide')
                                            .carousel-item
                                                img.d-block.w-100(src='assets/img/portfolio/04-facultad-san-andres/4.jpg' alt='Third slide')
                                            .carousel-item
                                                img.d-block.w-100(src='assets/img/portfolio/04-facultad-san-andres/5.jpg' alt='Third slide')
                                            .carousel-item
                                                img.d-block.w-100(src='assets/img/portfolio/04-facultad-san-andres/6.jpg' alt='Third slide')
                                            .carousel-item
                                                img.d-block.w-100(src='assets/img/portfolio/04-facultad-san-andres/7.jpg' alt='Third slide')
                                            .carousel-item
                                                img.d-block.w-100(src='assets/img/portfolio/04-facultad-san-andres/8.jpg' alt='Third slide')
                                            .carousel-item
                                                img.d-block.w-100(src='assets/img/portfolio/04-facultad-san-andres/9.jpg' alt='Third slide')
                                            .carousel-item
                                                img.d-block.w-100(src='assets/img/portfolio/04-facultad-san-andres/10.jpg' alt='Third slide')
                                            .carousel-item
                                                img.d-block.w-100(src='assets/img/portfolio/04-facultad-san-andres/11.jpg' alt='Third slide')
                                            .carousel-item
                                                img.d-block.w-100(src='assets/img/portfolio/04-facultad-san-andres/12.jpg' alt='Third slide')
                                            .carousel-item
                                                img.d-block.w-100(src='assets/img/portfolio/04-facultad-san-andres/13.jpg' alt='Third slide')
                                            .carousel-item
                                                img.d-block.w-100(src='assets/img/portfolio/04-facultad-san-andres/14.jpg' alt='Third slide')
                                            .carousel-item
                                                img.d-block.w-100(src='assets/img/portfolio/04-facultad-san-andres/15.jpg' alt='Third slide')
                                            .carousel-item
                                                img.d-block.w-100(src='assets/img/portfolio/04-facultad-san-andres/16.jpg' alt='Third slide')
                                            .carousel-item
                                                img.d-block.w-100(src='assets/img/portfolio/04-facultad-san-andres/17.jpg' alt='Third slide')
                                        a.carousel-control-prev(href='#carouselExampleControls4' role='button' data-slide='prev')
                                            span.carousel-control-prev-icon(aria-hidden='true')
                                            span.sr-only Anterior
                                        a.carousel-control-next(href='#carouselExampleControls4' role='button' data-slide='next')
                                            span.carousel-control-next-icon(aria-hidden='true')
                                            span.sr-only Siguiente

                                    button.btn.btn-primary(data-dismiss='modal' type='button')
                                        i.fas.fa-times.mr-1
                                        | Cerrar
        // Portfolio Modals
        // Modal 5
        #portfolioModal5.portfolio-modal.modal.fade(tabindex='-1' role='dialog' aria-hidden='true')
            .modal-dialog
                .modal-content
                    .close-modal(data-dismiss='modal')
                        img(src="assets/img/close-icon.svg" alt='Close modal')
                    .container
                        .row.justify-content-center
                            .col-lg-8
                                .modal-body
                                    // Project Details Go Here
                                    h3.text-uppercase Cochera
                                    #carouselExampleControls5.carousel.slide(data-ride='carousel')
                                        .carousel-inner
                                            .carousel-item.active
                                                img.d-block.w-100(src='assets/img/portfolio/05-cochera/1.jpg' alt='First slide')
                                            .carousel-item
                                                img.d-block.w-100(src='assets/img/portfolio/05-cochera/2.jpg' alt='Second slide')
                                            .carousel-item
                                                img.d-block.w-100(src='assets/img/portfolio/05-cochera/3.jpg' alt='Third slide')
                                            .carousel-item
                                                img.d-block.w-100(src='assets/img/portfolio/05-cochera/4.jpg' alt='Third slide')
                                            .carousel-item
                                                img.d-block.w-100(src='assets/img/portfolio/05-cochera/5.jpg' alt='Third slide')
                                            .carousel-item
                                                img.d-block.w-100(src='assets/img/portfolio/05-cochera/6.jpg' alt='Third slide')
                                            .carousel-item
                                                img.d-block.w-100(src='assets/img/portfolio/05-cochera/7.jpg' alt='Third slide')
                                            .carousel-item
                                                img.d-block.w-100(src='assets/img/portfolio/05-cochera/8.jpg' alt='Third slide')
                                            .carousel-item
                                                img.d-block.w-100(src='assets/img/portfolio/05-cochera/9.jpg' alt='Third slide')
                                            .carousel-item
                                                img.d-block.w-100(src='assets/img/portfolio/05-cochera/10.jpg' alt='Third slide')
                                            .carousel-item
                                                img.d-block.w-100(src='assets/img/portfolio/05-cochera/11.jpg' alt='Third slide')
                                            .carousel-item
                                                img.d-block.w-100(src='assets/img/portfolio/05-cochera/12.jpg' alt='Third slide')
                                            .carousel-item
                                                img.d-block.w-100(src='assets/img/portfolio/05-cochera/13.jpg' alt='Third slide')
                                            .carousel-item
                                                img.d-block.w-100(src='assets/img/portfolio/05-cochera/14.jpg' alt='Third slide')
                                            .carousel-item
                                                img.d-block.w-100(src='assets/img/portfolio/05-cochera/15.jpg' alt='Third slide')
                                        a.carousel-control-prev(href='#carouselExampleControls5' role='button' data-slide='prev')
                                            span.carousel-control-prev-icon(aria-hidden='true')
                                            span.sr-only Anterior
                                        a.carousel-control-next(href='#carouselExampleControls5' role='button' data-slide='next')
                                            span.carousel-control-next-icon(aria-hidden='true')
                                            span.sr-only Siguiente

                                    button.btn.btn-primary(data-dismiss='modal' type='button')
                                        i.fas.fa-times.mr-1
                                        | Cerrar
        // Portfolio Modals
        // Modal 6
        #portfolioModal6.portfolio-modal.modal.fade(tabindex='-1' role='dialog' aria-hidden='true')
            .modal-dialog
                .modal-content
                    .close-modal(data-dismiss='modal')
                        img(src="assets/img/close-icon.svg" alt='Close modal')
                    .container
                        .row.justify-content-center
                            .col-lg-8
                                .modal-body
                                    // Project Details Go Here
                                    h3.text-uppercase Ventana Techo
                                    #carouselExampleControls6.carousel.slide(data-ride='carousel')
                                        .carousel-inner
                                            .carousel-item.active
                                                img.d-block.w-100(src='assets/img/portfolio/06-ventana-techo/1.jpg' alt='First slide')
                                            .carousel-item
                                                img.d-block.w-100(src='assets/img/portfolio/06-ventana-techo/2.jpg' alt='Second slide')
                                        a.carousel-control-prev(href='#carouselExampleControls6' role='button' data-slide='prev')
                                            span.carousel-control-prev-icon(aria-hidden='true')
                                            span.sr-only Anterior
                                        a.carousel-control-next(href='#carouselExampleControls6' role='button' data-slide='next')
                                            span.carousel-control-next-icon(aria-hidden='true')
                                            span.sr-only Siguiente

                                    button.btn.btn-primary(data-dismiss='modal' type='button')
                                        i.fas.fa-times.mr-1
                                        | Cerrar
        // Portfolio Modals
        // Modal 7
        #portfolioModal7.portfolio-modal.modal.fade(tabindex='-1' role='dialog' aria-hidden='true')
            .modal-dialog
                .modal-content
                    .close-modal(data-dismiss='modal')
                        img(src="assets/img/close-icon.svg" alt='Close modal')
                    .container
                        .row.justify-content-center
                            .col-lg-8
                                .modal-body
                                    // Project Details Go Here
                                    h3.text-uppercase Garage
                                    #carouselExampleControls7.carousel.slide(data-ride='carousel')
                                        .carousel-inner
                                            .carousel-item.active
                                                img.d-block.w-100(src='assets/img/portfolio/07-garage/1.jpg' alt='First slide')
                                            .carousel-item
                                                img.d-block.w-100(src='assets/img/portfolio/07-garage/2.jpg' alt='Second slide')
                                            .carousel-item
                                                img.d-block.w-100(src='assets/img/portfolio/07-garage/3.jpg' alt='Third slide')
                                            .carousel-item
                                                img.d-block.w-100(src='assets/img/portfolio/07-garage/4.jpg' alt='Third slide')
                                            .carousel-item
                                                img.d-block.w-100(src='assets/img/portfolio/07-garage/5.jpg' alt='Third slide')
                                            .carousel-item
                                                img.d-block.w-100(src='assets/img/portfolio/07-garage/6.jpg' alt='Third slide')
                                            .carousel-item
                                                img.d-block.w-100(src='assets/img/portfolio/07-garage/7.jpg' alt='Third slide')
                                            .carousel-item
                                                img.d-block.w-100(src='assets/img/portfolio/07-garage/8.jpg' alt='Third slide')
                                            .carousel-item
                                                img.d-block.w-100(src='assets/img/portfolio/07-garage/9.jpg' alt='Third slide')
                                        a.carousel-control-prev(href='#carouselExampleControls7' role='button' data-slide='prev')
                                            span.carousel-control-prev-icon(aria-hidden='true')
                                            span.sr-only Anterior
                                        a.carousel-control-next(href='#carouselExampleControls7' role='button' data-slide='next')
                                            span.carousel-control-next-icon(aria-hidden='true')
                                            span.sr-only Siguiente

                                    button.btn.btn-primary(data-dismiss='modal' type='button')
                                        i.fas.fa-times.mr-1
                                        | Cerrar
        // Portfolio Modals
        // Modal 8
        #portfolioModal8.portfolio-modal.modal.fade(tabindex='-1' role='dialog' aria-hidden='true')
            .modal-dialog
                .modal-content
                    .close-modal(data-dismiss='modal')
                        img(src="assets/img/close-icon.svg" alt='Close modal')
                    .container
                        .row.justify-content-center
                            .col-lg-8
                                .modal-body
                                    // Project Details Go Here
                                    h3.text-uppercase Montaje
                                    #carouselExampleControls8.carousel.slide(data-ride='carousel')
                                        .carousel-inner
                                            .carousel-item.active
                                                img.d-block.w-100(src='assets/img/portfolio/08-montaje/1.jpg' alt='First slide')
                                            .carousel-item
                                                img.d-block.w-100(src='assets/img/portfolio/08-montaje/2.jpg' alt='Second slide')
                                            .carousel-item
                                                img.d-block.w-100(src='assets/img/portfolio/08-montaje/3.jpg' alt='Third slide')
                                            .carousel-item
                                                img.d-block.w-100(src='assets/img/portfolio/08-montaje/4.jpg' alt='Third slide')
                                            .carousel-item
                                                img.d-block.w-100(src='assets/img/portfolio/08-montaje/5.jpg' alt='Third slide')
                                            .carousel-item
                                                img.d-block.w-100(src='assets/img/portfolio/08-montaje/6.jpg' alt='Third slide')
                                            .carousel-item
                                                img.d-block.w-100(src='assets/img/portfolio/08-montaje/7.jpg' alt='Third slide')
                                            .carousel-item
                                                img.d-block.w-100(src='assets/img/portfolio/08-montaje/8.jpg' alt='Third slide')
                                            .carousel-item
                                                img.d-block.w-100(src='assets/img/portfolio/08-montaje/9.jpg' alt='Third slide')
                                            .carousel-item
                                                img.d-block.w-100(src='assets/img/portfolio/08-montaje/10.jpg' alt='Third slide')
                                            .carousel-item
                                                img.d-block.w-100(src='assets/img/portfolio/08-montaje/11.jpg' alt='Third slide')
                                            .carousel-item
                                                img.d-block.w-100(src='assets/img/portfolio/08-montaje/12.jpg' alt='Third slide')
                                        a.carousel-control-prev(href='#carouselExampleControls8' role='button' data-slide='prev')
                                            span.carousel-control-prev-icon(aria-hidden='true')
                                            span.sr-only Anterior
                                        a.carousel-control-next(href='#carouselExampleControls8' role='button' data-slide='next')
                                            span.carousel-control-next-icon(aria-hidden='true')
                                            span.sr-only Siguiente

                                    button.btn.btn-primary(data-dismiss='modal' type='button')
                                        i.fas.fa-times.mr-1
                                        | Cerrar
        // Portfolio Modals
        // Modal 9
        #portfolioModal9.portfolio-modal.modal.fade(tabindex='-1' role='dialog' aria-hidden='true')
            .modal-dialog
                .modal-content
                    .close-modal(data-dismiss='modal')
                        img(src="assets/img/close-icon.svg" alt='Close modal')
                    .container
                        .row.justify-content-center
                            .col-lg-8
                                .modal-body
                                    // Project Details Go Here
                                    h3.text-uppercase Ventilación Tinglado
                                    #carouselExampleControls9.carousel.slide(data-ride='carousel')
                                        .carousel-inner
                                            .carousel-item.active
                                                img.d-block.w-100(src='assets/img/portfolio/09-ventilacion-tinglado/1.jpg' alt='First slide')
                                            .carousel-item
                                                img.d-block.w-100(src='assets/img/portfolio/09-ventilacion-tinglado/2.jpg' alt='Second slide')
                                            .carousel-item
                                                img.d-block.w-100(src='assets/img/portfolio/09-ventilacion-tinglado/3.jpg' alt='Third slide')
                                            .carousel-item
                                                img.d-block.w-100(src='assets/img/portfolio/09-ventilacion-tinglado/4.jpg' alt='Third slide')
                                            .carousel-item
                                                img.d-block.w-100(src='assets/img/portfolio/09-ventilacion-tinglado/5.jpg' alt='Third slide')
                                            .carousel-item
                                                img.d-block.w-100(src='assets/img/portfolio/09-ventilacion-tinglado/6.jpg' alt='Third slide')
                                            .carousel-item
                                                img.d-block.w-100(src='assets/img/portfolio/09-ventilacion-tinglado/7.jpg' alt='Third slide')
                                            .carousel-item
                                                img.d-block.w-100(src='assets/img/portfolio/09-ventilacion-tinglado/8.jpg' alt='Third slide')
                                        a.carousel-control-prev(href='#carouselExampleControls9' role='button' data-slide='prev')
                                            span.carousel-control-prev-icon(aria-hidden='true')
                                            span.sr-only Anterior
                                        a.carousel-control-next(href='#carouselExampleControls9' role='button' data-slide='next')
                                            span.carousel-control-next-icon(aria-hidden='true')
                                            span.sr-only Siguiente

                                    button.btn.btn-primary(data-dismiss='modal' type='button')
                                        i.fas.fa-times.mr-1
                                        | Cerrar
       

        // Bootstrap core JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
        script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js')

        // Third party plugin JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js')

        // Core theme JS
        script(src='js/scripts.js')